{% extends 'league/base.html' %}

{% block title %}Haftanın En Kötüleri{% endblock %}

{% block content %}
<div class="header-section text-center rounded-3">
    <h1 class="display-4 fw-bold">FİYASKO LİG</h1>
    <p class="lead">Haftanın en beceriksiz "yıldızları" burada.</p>
    <a href="{% url 'my_squad' %}" class="btn btn-warning btn-m px-5 fw-bold shadow">Kadroyu Gör</a>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %} 
<div class="row">
    <div class="col-md-12">
        <h3 class="mb-4 text-success">Haftanın Liderleri</h3>
        <div class="table-responsive">
            <table class="table table-hover table-dark align-middle">
                <thead>
                    <tr class="text-secondary">
                        <th>OYUNCU</th>
                        <th>POZİSYON</th>
                        <th class="text-center">FİYASKO PUANI</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr>
                        <td>
                            <a href="{% url 'player_detail' pk=player.pk %}" class="text-decoration-none text-white fw-bold fs-5">
                                {{ player.name }}
                            </a>
                            <a href="{% url 'add_to_team' player.id %}" class="btn btn-success btn-sm">
                            Kadroya Ekle
                            </a>
                        </td>
                        
                        <td>{{ player.position }}</td>
                        <td class="text-center">
                            <span class="fiyasko-badge">{{ player.anti_score }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}